
<div class="main">
    <h3 class="head">জাতীয় মসজিদের মিম্বার থেকে খুতবা</h3>
    <div class="container" *ngFor="let item of data; let i = index">
        <ul>
            <li>
                <h3 class="heading">{{ data[i].title }}</h3>
                <p>{{ data[i].description.substring(0, 40) }} ...</p>
                <a href="#">বিস্তারিত</a>
                <span class="date">{{ data[i].date }}</span>
                <span class="circle"></span>
            </li>
            <li>
                <h3 class="heading">{{ data[i+1].title }}</h3>
                <p>{{ data[i+1].description.substring(0, 40) }} ...</p>
                <a href="#">বিস্তারিত</a>
                <span class="date">{{ data[i+1].date }}</span>
                <span class="circle"></span>
            </li>
            <li>
                <h3 class="heading">{{ data[i+2].title }}</h3>
                <p>{{ data[i+2].description.substring(0, 40) }} ...</p>
                <a href="#">বিস্তারিত</a>
                <span class="date">{{ data[i+2].date }}</span>
                <span class="circle"></span>
            </li>
        </ul>
    </div>
</div>
