
        <div class="main">
            <h3 class="head">Muslim Thoughts</h3>
            <div class="container">
                <ul>
                    <li>
                        <h3 class="heading">Top Pages</h3>
                        <p>Asif Adnan, আরিফ আজাদ, Mizanur Rahman Azhari, Ahmadullah, Abdullah Al Masud, Shamsul Arefin Shakti and more....   </p>
                        <a href="#">View Details</a>
                        <span class="date">Facebook</span>
                        <span class="circle"></span>
                    </li>
                    <li>
                        <h3 class="heading">Top Channels</h3>
                        <p>Baseera, Rain Drops Media, Mizanur Rahman Azhari, Arif Azad, Islam Zone and more ...</p>
                        <a href="#">View Details</a>
                        <span class="date">YouTube</span>
                        <span class="circle"></span>
                    </li>
                    <li>
                        <h3 class="heading">Top Blogs</h3>
                        <p>Cintaporadh, Assunnah Foundation, Shohid Info, Quran and more ...</p>
                        <a href="#">View Details</a>
                        <span class="date">Websites</span>
                        <span class="circle"></span>
                    </li>
                </ul>
            </div>
        </div>
