
        <div class="main">
            <h3 class="head">Muslim Thoughts</h3>
            <div class="container">
                <ul>
                    <li>
                        <h3 class="heading">Facebook</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit excepturi accusamus minus
                        totam </p>
                        <a href="#">Read More ></a>
                        <span class="date">January 2021</span>
                        <span class="circle"></span>
                    </li>
                    <li>
                        <h3 class="heading">Youtube</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit excepturi accusamus minus
                        totam </p>
                        <a href="#">Read More ></a>
                        <span class="date">February 2021</span>
                        <span class="circle"></span>
                    </li>
                    <li>
                        <h3 class="heading">Blog</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit excepturi accusamus minus
                        totam </p>
                        <a href="#">Read More ></a>
                        <span class="date">March 2021</span>
                        <span class="circle"></span>
                    </li>
                    <li>
                        <h3 class="heading">App Developer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit excepturi accusamus minus
                        totam </p>
                        <a href="#">Read More ></a>
                        <span class="date">April 2021</span>
                        <span class="circle"></span>
                    </li>
                </ul>
            </div>
        </div>
